.hero-area .hero-content .button .btn-border-white {
    color: #fff;
    margin-right: 12px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    color: #fff;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
    width: 300px;
}
.ellipse1 {
    position: absolute;
    top: -160px;
}
.ellipse2 {
    position: absolute;
    bottom: -50px;
    z-index: -1;
    height: 60%;
}
.bg-custom-blue1 {
    background-color: #c9daf7;
}
.color-custom-gray1 {
    color: #4d4c50;
}
.color-custom-blue1 {
    color: #c9daf7;
}
.button #signin {
    background-image: linear-gradient(#074af5, #1400ff);
    padding: 15px 30px;
}
#promo {
    height: 500px;
    background-image: url("../images/promo/promo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-footer {
    width: 75px;
}
.btn-blue {
    background-image: linear-gradient(#2b5bcc, #0034b0);
    color: white;
}
#resp-download-regist {
    width: 90%;
}
#btn-gabung {
    width: 90%;
}
.mt-custom-5 {
    margin-top: 5rem;
}
.mb-custom-1 {
    margin-bottom: 1rem;
}
.mb-custom-2 {
    margin-bottom: 2rem;
}
.mb-custom-3 {
    margin-bottom: 3rem;
}
.mb-custom-4 {
    margin-bottom: 4rem;
}
.mb-custom-5 {
    margin-bottom: 5rem;
}
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}
.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-85 {
    width: 85%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}
