@media screen and (max-width: 575px) {
    .hero-area .hero-content #hero_tr {
        font-size: 40px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .hero-area .hero-content #hero_wara {
        font-size: 15px;
    }
    #border-features {
        height: 1600px;
    }
}

@media screen and (min-width: 576px) {
    .hero-area .hero-content #hero_tr {
        font-size: 60px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .hero-area .hero-content #hero_wara {
        font-size: 20px;
    }
    #border-features {
        height: 1400px;
    }
}

@media screen and (max-width: 768px) {
    #phone {
        display: none;
    }
    .hero-content {
        padding-bottom: 100px;
    }
    .social {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .hero-area .hero-content #hero_tr {
        font-size: 90px;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .hero-area .hero-content #hero_wara {
        font-size: 30px;
    }
    .f-about {
        float: right;
    }
    #border-features {
        height: 600px;
    }
}

@media screen and (max-width: 992px) {
    #phone {
        display: none;
    }
    .hero-content {
        background-image: url("../images/hero/phone2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 992px) {
    .hero-area .hero-content #hero_tr {
        font-size: 70px;
        margin-bottom: 1.5rem;
    }
    .hero-area .hero-content #hero_wara {
        font-size: 20px;
    }
    #border-features {
        height: 200px;
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) {
    .hero-area .hero-content #hero_tr {
        font-size: 80px;
        margin-bottom: 2rem;
    }
    .hero-area .hero-content #hero_wara {
        font-size: 25px;
    }
    #border-features {
        height: 250px;
    }
}

@media screen and (min-width: 1400px) {
    .hero-area .hero-content #hero_tr {
        font-size: 100px;
        margin-bottom: 3rem;
        text-shadow: 0 3px 7px #404040;
    }
    .hero-area .hero-content #hero_wara {
        font-size: 30px;
    }

    #border-features {
        height: 300px;
    }
}
